{% extends "layout.html" %}
{% load static %}
{% block body %}
<div class="hero hero3">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single cebleb-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="mv-ceb">
					<img src='{% static "" %}movie/images/uploads/{{celebrity.name}}.jpg' alt="">
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct">
					<h1 class="bd-hd">{{celebrity.name}}</h1>
					{% if celebrity.gender == "MALE" %}
					<p class="ceb-single">Actor</p>
					{% endif %}
					{% if celebrity.gender == "FEMALE" %}
					<p class="ceb-single">Actress</p>
					{% endif %}
					<div class="social-link cebsingle-socail">
						<a href="#"><i class="ion-social-facebook"></i></a>
						<a href="#"><i class="ion-social-twitter"></i></a>
						<a href="#"><i class="ion-social-googleplus"></i></a>
						<a href="#"><i class="ion-social-linkedin"></i></a>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overviewceb">Overview</a></li>
								<li><a href="#biography"> biography</a></li>
								<li><a href="#mediaceb"> Media</a></li> 
								<li><a href="#filmography">filmography</a></li>                        
							</ul>
						    <div class="tab-content">
						        <div id="overviewceb" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p> {{celebrity.overview}} </p>
											<p class="time"><a href="#">See full bio <i class="ion-ios-arrow-right"></i></a></p>
						            		{% comment %} <div class="title-hd-sm">
												<h4>Videos &amp; Photos</h4>
												<a href="#" class="time">All 5 Videos &amp; 245 Photos <i class="ion-ios-arrow-right"></i></a>
											</div>
											<div class="mvsingle-item ov-item">
												<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image11.jpg' %}"><img src="{% static 'movie/images/uploads/image1.jpg' %}" alt=""></a>
												<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image21.jpg' %}"><img src="{% static 'movie/images/uploads/image2.jpg' %}" alt=""></a>
												<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image31.jpg' %}"><img src="{% static 'movie/images/uploads/image3.jpg' %}" alt=""></a>
												<div class="vd-it">
													<img class="vd-img" src="{% static 'movie/images/uploads/image4.jpg' %}" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0" rel="playlist"><img src="{% static 'movie/images/uploads/play-vd.png' %}" alt=""></a>
												</div>
											</div> {% endcomment %}
											<div class="title-hd-sm">
												<h4>filmography</h4>
												<a href="#" class="time">Full Filmography<i class="ion-ios-arrow-right"></i></a>
											</div>
											<!-- movie cast -->
											<div class="mvcast-item">											
												{% for movie in celebrity.movies.all %}
												<div class="cast-it">
													<div class="cast-left cebleb-film">
														<img src='{% static "" %}movie/images/uploads/{{movie.title}}.jpg' alt="" width="55" height="77">
														<div>
															<a href="{% url 'movie' movie.id %}">{{movie.title}} </a>
															<p class="time">{{celebrity.name}}</p>
														</div>
													</div>
													<p>{{movie.release_date}}</p>
												</div>
												{% endfor %}
											</div>
						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Fullname:  </h6>
						            			<p><a href="#">{{celebrity.name}}</a></p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Date of Birth: </h6>
						            			<p>{{celebrity.date_of_birth}}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Country:  </h6>
						            			<p>Bangladesh</p>
						            		</div>
						            		{% comment %} <div class="sb-it">
						            			<h6>Keywords:</h6>
						            			<p class="tags">
						            				<span class="time"><a href="#">jackman</a></span>
													<span class="time"><a href="#">wolverine</a></span>
													<span class="time"><a href="#">logan</a></span>
													<span class="time"><a href="#">blockbuster</a></span>
													<span class="time"><a href="#">final battle</a></span>
						            			</p>
						            		</div> {% endcomment %}
						            		<div class="ads">
												<img src="{% static 'movie/images/uploads/ads1.png' %}" alt="">
											</div>
						            	</div>
						            </div>
						        </div>
						        <div id="biography" class="tab">
						           <div class="row">
						            	<div class="rv-hd">
											<div>
												<h3>Biography of</h3>
						       	 				<h2>{{celebrity.name}}</h2>
											</div>							            						
						            	</div>
										<p> {{celebrity.biography}} </p>
						            </div>
						        </div>
						        <div id="mediaceb" class="tab">
						        	<div class="row">
						        		<div class="rv-hd">
						            		<div>
						            			<h3>Biography of</h3>
					       	 					<h2>{{celebrity.name}}</h2>
						            		</div>
						            	</div>
						            	<div class="title-hd-sm">
											<h4>Videos <span>(8)</span></h4>
										</div>
										<div class="mvsingle-item media-item">
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="{% static 'movie/images/uploads/vd-item1.jpg' %}" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0" rel="playlist"><img src="{% static 'movie/images/uploads/play-vd.png' %}" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Trailer:  Watch New Scenes</a></h6>
													<p class="time"> 1: 31</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="{% static 'movie/images/uploads/vd-item2.jpg' %}" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0" rel="playlist"><img src="{% static 'movie/images/uploads/play-vd.png' %}" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Featurette: “Avengers Re-Assembled</a></h6>
													<p class="time"> 1: 03</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="{% static 'movie/images/uploads/vd-item3.jpg' %}" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0" rel="playlist"><img src="{% static 'movie/images/uploads/play-vd.png' %}" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Interview: Robert Downey Jr</a></h6>
													<p class="time"> 3:27</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="{% static 'movie/images/uploads/vd-item4.jpg' %}" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0" rel="playlist"><img src="{% static 'movie/images/uploads/play-vd.png' %}" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Interview: Scarlett Johansson</a></h6>
													<p class="time"> 3:27</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="{% static 'movie/images/uploads/vd-item1.jpg' %}" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0" rel="playlist"><img src="{% static 'movie/images/uploads/play-vd.png' %}" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Featurette: Meet Quicksilver &amp; The Scarlet Witch</a></h6>
													<p class="time"> 1: 31</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="{% static 'movie/images/uploads/vd-item2.jpg' %}" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0" rel="playlist"><img src="{% static 'movie/images/uploads/play-vd.png' %}" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Interview: Director Joss Whedon</a></h6>
													<p class="time"> 1: 03</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="{% static 'movie/images/uploads/vd-item3.jpg' %}" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0" rel="playlist"><img src="{% static 'movie/images/uploads/play-vd.png' %}" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Interview: Mark Ruffalo</a></h6>
													<p class="time"> 3:27</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="{% static 'movie/images/uploads/vd-item4.jpg' %}" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0" rel="playlist"><img src="{% static 'movie/images/uploads/play-vd.png' %}" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Official Trailer #2</a></h6>
													<p class="time"> 3:27</p>
												</div>
											</div>
										</div>
										<div class="title-hd-sm">
											<h4>Photos <span> (21)</span></h4>
										</div>
										<div class="mvsingle-item">
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image11.jpg' %}"><img src="{% static 'movie/images/uploads/image1.jpg' %}" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image21.jpg' %}"><img src="{% static 'movie/images/uploads/image2.jpg' %}" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image31.jpg' %}"><img src="{% static 'movie/images/uploads/image3.jpg' %}" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image41.jpg' %}"><img src="{% static 'movie/images/uploads/image4.jpg' %}" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image51.jpg' %}"><img src="{% static 'movie/images/uploads/image5.jpg' %}" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image61.jpg' %}"><img src="{% static 'movie/images/uploads/image6.jpg' %}" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image71.jpg' %}"><img src="{% static 'movie/images/uploads/image7.jpg' %}" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image81.jpg' %}"><img src="{% static 'movie/images/uploads/image8.jpg' %}" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image91.jpg' %}"><img src="{% static 'movie/images/uploads/image9.jpg' %}" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image101.jpg' %}"><img src="{% static 'movie/images/uploads/image10.jpg' %}" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image111.jpg' %}"><img src="{% static 'movie/images/uploads/image1-1.jpg' %}" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image121.jpg' %}"><img src="{% static 'movie/images/uploads/image12.jpg' %}" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image131.jpg' %}"><img src="{% static 'movie/images/uploads/image13.jpg' %}" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image141.jpg' %}"><img src="{% static 'movie/images/uploads/image14.jpg' %}" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image151.jpg' %}"><img src="{% static 'movie/images/uploads/image15.jpg' %}" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image161.jpg' %}"><img src="{% static 'movie/images/uploads/image16.jpg' %}" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image171.jpg' %}"><img src="{% static 'movie/images/uploads/image17.jpg' %}" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image181.jpg' %}"><img src="{% static 'movie/images/uploads/image18.jpg' %}" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image191.jpg' %}"><img src="{% static 'movie/images/uploads/image19.jpg' %}" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image201.jpg' %}"><img src="{% static 'movie/images/uploads/image20.jpg' %}" alt=""></a>
											<a class="img-lightbox" data-fancybox-group="gallery" href="{% static 'movie/images/uploads/image211.jpg' %}"><img src="{% static 'movie/images/uploads/image2-1.jpg' %}" alt=""></a>
										</div>
						        	</div>
					       	 	</div>
					       	 	<div id="filmography" class="tab">
						        	<div class="row">
						            	<div class="rv-hd">
						            		<div>
						            			<h3>Biography of</h3>
					       	 					<h2>{{celebrity.name}}</h2>
						            		</div>
										
						            	</div>
						            	{% comment %} <div class="topbar-filter">
											<p>Found <span>14 movies</span> in total</p>
											<label>Filter by:</label>
											<select>
												<option value="popularity">Popularity Descending</option>
												<option value="popularity">Popularity Ascending</option>
												<option value="rating">Rating Descending</option>
												<option value="rating">Rating Ascending</option>
												<option value="date">Release date Descending</option>
												<option value="date">Release date Ascending</option>
											</select>
										</div> {% endcomment %}
										<!-- movie cast -->
										<div class="mvcast-item">											
											{% for movie in celebrity.movies.all %}
											<div class="cast-it">
												<div class="cast-left cebleb-film">
													<img src='{% static "" %}movie/images/uploads/{{movie.title}}.jpg' alt="" width="55" height="77">
													<div>
														<a href="{% url 'movie' movie.id %}">{{movie.title}} </a>
														<p class="time">{{celebrity.name}}</p>
													</div>
												</div>
												<p>{{movie.release_date}}</p>
											</div>
											{% endfor %}
										</div>
						            </div>
					       	 	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
{% endblock %}
