{% extends "layout.html" %}
{% load static %}
{% block body %}
<!-- <h1>Genres:</h1>
<ul>
        {% for genre in genres %}
            <li>Genre of {{ genre.which_movie }} is {{ genre.genre_name }} </li>
        {% endfor %}
</ul> -->
<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> Genres of Bangladeshi movies</h1>
					<ul class="breadcumb">
						<li class="active"><a href="home.html">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> Genres</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="movie-items  full-width">
	<div class="row">
		<div class="col-md-12">
		{% for genre in genres %}
			<div class="title-hd">
				<h2>{{ genre.genre_name }}</h2>
				<a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
			</div>
			<div class="tabs">
			            <div class="row">
							{% for m in genre.which_movie %}
							<div class="slide-it slick-slide slick-active" style="width: 283px;" tabindex="-1" role="option" aria-describedby="slick-slide01" data-slick-index="5" aria-hidden="false">
								<div class="movie-item">
									<div class="mv-img"> 
										<img src='{% static "" %}movie/images/uploads/{{m}}.jpg' alt="">
									</div>
									<div class="hvr-inner">
										<a href="moviesingle.html" tabindex="0"> Read more <i class="ion-android-arrow-dropright"></i> </a>
									</div>
									<div class="title-in">
										<h6><a href="#" tabindex="0">{{ m }}</a></h6>
										<p><i class="ion-android-star"></i><span>7.4</span> /10</p>
									</div>
								</div>
							</div>
							{% endfor %}
			            </div>
			</div>
		{% endfor %}
		</div>
	</div>
</div>

{% endblock %}