{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><i>LOGIN</i></title>

</head>

<body>
    <div class="login-wrapper" id="signup-content">
        <div class="login-content">
            <!-- <a href="#" class="close">x</a> -->
            <form method="POST" action="#">
                {% csrf_token %}
                <div class="row">
                    <label for="username-2">
                        Username:
                        <input type="text" name="username" id="username-2" placeholder="" />
                        <!-- pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required"  -->
                    </label>
                </div>

                <div class="row">
                    <label for="password-2">
                        Password:
                        <input type="password" name="password1" id="password-2" placeholder="" />
                        <!-- pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.
])(?=.*[A-Z])(?=.*[a-z]).*$" required="required"  -->
                    </label>
                </div>

                <div class="row">
                    <button type="submit">LOGIN</button>
                </div>
            </form>
            <div>{% for message in messages %}
                <h3>{{message}}</h3>
                {% endfor %}
            </div>
        </div>
    </div>

</body>

</html>







<!-- 

<form method="POST" action="#">
    {% csrf_token %}
    <div class="row">
        <label for="username">
            Username:
            <input type="text" name="username" id="username" placeholder="" />
             pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required"  -->
        <!-- </label>
    </div>

    <div class="row">
        <label for="password">
            Password:
            <input type="password" name="password" id="password" placeholder="" /> -->
            <!-- pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.
            ])(?=.*[A-Z])(?=.*[a-z]).*$" required="required"  -->
        <!-- </label>
    </div>
    <div class="row">
        <div class="remember">
            <div>
                <input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
            </div>
            <a href="#">Forget password ?</a>
        </div>
    </div>
    <div class="row">
        <button type="submit">Login</button>
    </div>
</form> 
  -->