{% extends "layout.html" %}
{% load static %}
{% block body %}
<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> signup page</h1>
					<ul class="breadcumb">
						<li class="active"><a href="home.html">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> signup</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="movie-items  full-width">
    <div class="row">
		<div class="col-md-12">
            <div  id="signup-content">
                <div class="login-content">
                        <!-- <a href="#" class="close">x</a> -->
                <form method="POST" action="#">
                        {% csrf_token %}
                        <div class="row">
                            <label for="username-2">
                                <p style = "font-family:Georgia;font-size:16px;color:white">Username:</p>
                                <input type="text" name="username" id="username-2" placeholder="" />
                                <!-- pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required"  -->
                            </label>
                        </div>
                    
                        <div class="row">
                            <label for="email-2">
                                <p style = "font-family:Georgia;font-size:16px;color:white">your email:</p>
                                <input type="text" name="email" id="email-2" placeholder="" />
                                <!--  -->
                            </label>
                        </div>

                        <div class="row">
                            <label for="dob-2">
                                <p style = "font-family:Georgia;font-size:16px;color:white">Date of Birth:</p>
                            <input type="date" name="date_of_birth" id="dob-2" placeholder=""/>
                            <!-- pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required"  -->
                        </label>
                    </div>

                    <div class="row">
                        <label for="gender-2">
                            <p style = "font-family:Georgia;font-size:16px;color:white">Gender:</p>
                        <input type="text" name="gender" id="gender-2" placeholder="" />
                    </label>
                </div>

                        <div class="row">
                            <label for="password-2">
                                <p style = "font-family:Georgia;font-size:16px;color:white">Password:</p>
                                <input type="password" name="password1" id="password-2" placeholder="" />
                                <!-- pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.
            ])(?=.*[A-Z])(?=.*[a-z]).*$" required="required"  -->
                            </label>
                        </div>
                        <div class="row">
                            <label for="repassword-2">
                                <p style = "font-family:Georgia;font-size:16px;color:white">Confirm Password:</p>
                                <input type="password" name="password2" id="repassword-2" placeholder=""/>
                                <!-- pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.
                                ])(?=.*[A-Z])(?=.*[a-z]).*$" required="required"  -->
                            </label>
                        </div>
                    <div class="row">
                        <button type="submit">sign up</button>
                    </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}